@font-face {
    font-family: "Atyp";
    src: url(../fonts/Atyp_9.woff);
    }
@font-face {
    font-family: "Atyp";
    src: url(../fonts/Atyp_10.woff);
    }
@font-face {
    font-family: "DM";
    src: url(../fonts/DM_11.woff);
    }
@font-face {
    font-family: "DM";
    src: url(../fonts/DM_12.woff);
    }