@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DM_Sans_1.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/DM_Sans_2.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/DM_Sans_1.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/DM_Sans_2.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/DM_Sans_1.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    src: url(../fonts/DM_Sans_2.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DM_Sans_1.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/DM_Sans_2.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/DM_Sans_1.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 800;
    src: url(../fonts/DM_Sans_2.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/DM_Sans_1.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/DM_Sans_2.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 1000;
    src: url(../fonts/DM_Sans_1.woff2);
    }
@font-face {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 1000;
    src: url(../fonts/DM_Sans_2.woff2);
    }