:root {
    --sf-img-31: url(../images/style_image_12.png);
    --sf-img-32: url(../images/style_image_17.png);
    --sf-img-36: url(../images/style_image_24.svg);
    --sf-img-37: url(../images/style_image_30.svg);
    }